 /* --------------------------

  For Base Global Styling

  --------------------------*/

 // Declare box sizing
 html {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
     -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
     box-sizing: inherit;
 }


 // Helpers 

 .plx30 {
     padding-left: 30px;
 }

 .plmx10{
     @include breakpoint(mobileonly) {
        padding-left: 10px;
    }
 }
 // # remove padding between columns 
 .row.no-pad>[class*='col-'] {
     padding-right: 0;
     padding-left: 0;
 }

 // # 5 padding

 .row.pad-x-5>[class*='col-'] {
     padding: 5px;
 }


 body {
     font-family: 'Lato', sans-serif;
 }


 .corporates-logo {
     display: inline-block;
     height: 80px;
     text-align: center;

     // background-color: red;
     img {
         height: 100%;
         display: inline-block;
     }
 }


 // Helpers for testing

//  MARGINS
 .mt50 {
     margin-top: 50px;
 }

 .mt20{
     margin-top: 20px;
 }

//  PADDING
 .pad-x10 {
     padding: 10px;
 }

 .pad-x20{
     padding: 20px;
 }

 .pt20{
     padding-top: 20px;
 }

 .pb20{
     padding-bottom: 20px;
 }

 .pt50{
     padding-top: 50px;
 }


//  BACKGROND COLORS

.light-gray-bg{
    background-color: $lightgray;
}


//  WIDTHS
 .full {
     width: 100%;
 }


 // Bo be moved 

 /* Hero background image  */
 .highlight {
     padding: 50px 20px;
    //  background: url(https://red-and-yellow-icmfxmvdkqz7ku.stackpathdns.com/content/uploads/2019/03/RY-online-courses-bg-1.jpg);
    //  background-position: center;
    //  background-repeat: no-repeat;
    //  background-size: cover;
    position: relative;

    .background{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

     border-bottom: 5px solid $red;

     & > .container{
        @include breakpoint(mobileonly) {
            padding-left: 0;
            padding-right: 0;
        }
     }

     @include breakpoint(mobileonly) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }

 }



 //    FONTS 
 .text-red {
     color: $red;
 }

 .section-title {
     font-size: 20px;
     line-height: 28px;
     font-weight: bold;
     margin-bottom: 10px;

     &--sub {
         font-weight: normal;
         font-size: 20px;
         line-height: 28px;
         margin-bottom: 20px;
     }
 }



 // Profile

 .profile {

     &__img {
         width: 80px;
         height: 80px;
         vertical-align: top;
         float: left;
         margin-right: 10px;

         img {
             width: 100%;
             height: 100%;
             object-fit: cover;
         }
     }

     &__title {
         vertical-align: top;
         width: calc(100% - 95px);
         font-size: 16px;
         line-height: 14px;
         font-weight: bold;
         margin: 0;
         float: left;
         margin-bottom: 5px;
     }

     &__sub-title {
         width: calc(100% - 95px);
         font-size: 12px;
         line-height: 14px;
         font-style: initial;
         margin: 0;
         vertical-align: top;
         float: left;
         margin-bottom: 15px;

     }

     &__copy {
         font-size: 14px;
         line-height: 18px;
         display: inherit;
     }
 }


 .graduate,
 .contributor {
     padding: 20px;
     > h2{
         margin-bottom: 15px;
     }
 }


 .logo {
     padding: 0 0 10px 0;
     margin-bottom: 30px;

     @include breakpoint(mobileonly) {
        text-align: center;
        padding: 10px;
        background-color: $white;
    }

     @include breakpoint(tabletdown) {
        text-align: center;
        padding: 10px;
        background-color: $white;
    }

     img{
        width: 225px; 
        // height: 154px; 
        border-width: 0px; 
        border-style: solid;
        @include breakpoint(mobileonly) {
            width: 100px;
        }
     }
 }


//  FULL on Tablet

.full-on-tab{
    @include breakpoint(tabletdown) {
        width: 100%;
    }
}

//  Overide the default Bootstrap styling on Mobile 

// .container{
//     padding-left: 0;
//     padding-right: 0;
// }







.circle{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    z-index: 9999;
    transition: 250ms ease all;

    transform: rotate(-90deg);
    transform-origin: 50% 50%;

    svg{
        width: 100%;
        height: 100%;
        stroke: $red !important;
        transition: 250ms ease all;
    }
}

.ligiht-gray-bg{
    background-color: #f1f1f1;
}

.text-align-right{
    text-align: right;
}