// Declare box sizing
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }



    p{
        font-size: 12px;
        list-style: 16px;
    }

// Helpers 

// # remove padding between columns 
.row.no-pad > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// # 5 padding

.row.pad-x-5 > [class*='col-'] {
    padding: 5px;
}


body{
    font-family: 'Lato', sans-serif;

    padding-bottom: 300px;
}


.corporates-logo{
    display: inline-block;
    height: 50px;
    text-align: center;
    // background-color: red;
    img{
        height: 100%;
        display: inline-block;
    }
}


// Helpers for testing
.mt50{
    margin-top: 50px;
}

.pad-x10{
    padding: 10px;
}