/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1200px) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 1200px) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 760px) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 600px)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 480px)  { @content ; }
   }
   @else if $point == tabletup{ 
      @media (min-width: 481px)  { @content ; }
   }
   @else if $point == tabletdown{ 
      @media (min-width: 768px) and (max-width: 900px) { @content ; }
   }
 }
 

//  Bounce animation 
@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {
     transform: translateY(0);
   }
   40% {
     transform: translateY(-7px);
   }
   60% {
     transform: translateY(-3px);
   }
 }