.module-block{

    @include breakpoint(mobileonly){
        margin-bottom: 20px;
    }

    &__title{
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    &__intro{
        font-size: 14px;
        line-height: 18px;
    }
}