
// .quotes-block{
//     // max-width: 500px;
// }

.quote{
    max-width: 500px;
    // padding-top: 60px;
    // padding-bottom: 60px;

    @include breakpoint(tabletdown){
        margin-left: auto;
        margin-right: auto;
        display: block !important;
    }

    &__img{
        // display: inline-block;
        float:left;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden; 
        vertical-align: top;
        margin-top: 5px;
        margin-right: 30px;
        @include breakpoint(mobileonly){
            display: block;
            margin-left: auto;
        }

        @include breakpoint(tabletup){
            // margin-top: 25%;
            // transform: translateY(-50%);
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__copy{

        display: inline-block;
        // max-width: 400px;
        padding: 10px;
        color: $black;
        float: left;

        @include breakpoint(tabletup){
            // margin-top: 25%;
            // transform: translateY(-50%);
        }

        &__title{
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Lato', helvetica, arial, sans-serif;
            float: left;
        }

        &__intro{
            font-size: 14px;
            line-height: 22px;
            float: left;
            // max-width: 350px;
            padding-left: 40px;
            padding-right: 30px;
            position: relative;
            margin-top: 20px;
            padding-bottom: 10px;
            &:before{
                font-family: "Font Awesome 5 Free" !important;
                content: '';
                height: 22px;
                width: 30px;
                background: url(http://go.redandyellow.co.za/l/635981/2019-04-12/twsp/635981/36696/quote_left.png) no-repeat ;
                background-size: contain;
                position: absolute;
                top: 0;
                left: 135px;
                font-size: 30px;
                font-style: normal;
                font-weight: 900;
                text-decoration: inherit;
            }
            &:after{
                font-family: "Font Awesome 5 Free" !important;
                content: '';

                height: 22px;
                width: 30px;
                background: url(http://go.redandyellow.co.za/l/635981/2019-04-12/twsr/635981/36698/quote_right.png) no-repeat ;
                background-size: contain;
                position: absolute;
                bottom: 10px;
                right: 30px;
                font-size: 30px;
                font-style: normal;
                font-weight: 900;
                text-decoration: inherit;
            }
        }

        &__subtitle{
            font-weight: bold;
            padding-left: 40px;
            padding-right: 30px;
            margin-top: 10px;
            font-size: 12px;
            line-height: 18px;
            font-family: 'Lato', helvetica, arial, sans-serif;
            // max-width: 350px;
            float: left;
            color: $black;
        }
    }
}
