
.quotes-block{
    // max-width: 500px;
}

.quote{
    max-width: 500px;
    padding-top: 60px;
    padding-bottom: 60px;

    &__img{
        display: inline-block;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden; 
        vertical-align: top;
        margin-top: 10px;
        margin-right: 20px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__copy{

        display: inline-block;
        max-width: 400px;
        padding: 10px;

        &__title{
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Lato', helvetica, arial, sans-serif;
        }

        &__intro{
            font-size: 14px;
            line-height: 16px;
            max-width: 300px;
            padding-left: 40px;
            padding-right: 30px;
            position: relative;
            margin-top: 20px;
            padding-bottom: 10px;
            &:before{
                font-family: "Font Awesome 5 Free" !important;
                content: '\f10d';
                position: absolute;
                top: 0;
                left: 0;
                font-size: 30px;
                font-style: normal;
                font-weight: 900;
                text-decoration: inherit;
            }
            &:after{
                font-family: "Font Awesome 5 Free" !important;
                content: '\f10e';
                position: absolute;
                bottom: -10px;
                right: 0;
                font-size: 30px;
                font-style: normal;
                font-weight: 900;
                text-decoration: inherit;
            }
        }

        &__subtitle{
            margin-top: 20px;
            font-size: 18px;
            line-height: 20px;
            font-family: 'Lato', helvetica, arial, sans-serif;
        }
    }
}


.quote-bg{
    background-color: #d8d8d8;
}