

.slick-arrow{
    padding: 5px;
    height: 30px;
    width: 30px;
    &:before{
        color: #da2128;
    }
}


.slider,.slick-slider{
    @include breakpoint(tabletdown){
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(mobileonly){
        max-width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}